		body {
				font-family: "Helvetica", sans-serif;
		}

		p {
			color: #3a3a3a;
			font-family: Open Sans;
			font-weight: 400;
		}

		div{
			width: 150px;
			height: 150px;
			margin: 30px;
			text-align: center;
			color: white;
			float: left;
			font-family: Open Sans;
			font-weight: 800;
			font-size: 18px;
		}

		.headers {
			color: #3a3a3a;
			font-family: Open Sans;
			font-weight: 700;
		}

		

		.link {
			color: #008080;
			font-family: Open Sans;
			font-weight: 700;	
		}

			

		.labels {
			color: #2880b9;
			font-family: Open Sans;
			font-size: 18px;
			font-weight: 300;
		}

		.PT {
			font-family: PT Serif; 
		}

		.Open {
			font-family: Open Sans;
		}

		.headline {
			font-size: 44px;		
		}

		.caption{
			color: #2880b9;
			font-style: italic;
		}

		.bold {
			font-weight: 700;
		}

		.regular {
			font-weight: 400;
		}

		.light{
			font-weight: 300;
		}

		.font{
			background: #3a3a3a;
		}
		.primary{
			background: #48A2D7;
		}
		.secondary{
			background: #2880b9;
		}

		.altsecondary{
			background: #e74c3c;
		}
		
		.navmenu{
			background: #2c3e50;
		
		}

		.navbar{
			background: #262626;
		}
		
		.links{
			background: #008080;
		}