body {
				font-family: "Helvetica", sans-serif;
		}

		img{
			float: left;
			margin: 20px;
			padding-right: 10px;	
		}

		h1, h2, h3, h4, h5, h6, {
			color: #3a3a3a;
			font-family: Open Sans;
			font-weight: 700;


		}

		.pt {
			font-family: PT Serif;
		}

		p {
			color: #3a3a3a;
			font-family: Open Sans;
			font-weight: 400;

		}

		a {
			color: #008080;
			font-family: Open Sans;
			font-weight: 700;	
		}

		.labels{
			color: #2880b9;
			font-family: Open Sans;
			font-size: 18px;
			font-weight: 100;
		}

		.caption{
			color: #2880b9;
		}

		div{
			width: 150px;
			height: 150px;
			margin: 30px;
			text-align: center;
			color: white;
			float: left;
			font-family: Open Sans;
			font-weight: 800;
			font-size: 18px;
		}

		.font{
			background: #3a3a3a;
		}
		.primary{
			background: #48A2D7;
		}
		.secondary{
			background: #2880b9;
		}

		.altsecondary{
			background: #e74c3c;
		}
		
		.navmenu{
			background: #2c3e50;
		
		}

		.navbar{
			background: #262626;
		}
		
		.links{
			background: #008080;
		}